@model Faros.FrontEnd.Models.AnimalDTO
@{
    ViewData["Title"] = "Excluir Clientes";
}



<form id="formDelete">
    <p> Deseja realmente excluir o Animal <strong>@Html.DisplayFor(model => model.Nome)</strong>?</p>
    <hr />

    <div>
        <button asp-action="DeleteAnimal" asp-route-id="@Model.Id" class="ui-state-default ui-corner-all">Excluir</button>
        <button asp-action="Index" class="ui-state-default ui-corner-all" id="btnClose">Cancelar</button>
    </div>
    </form>

<script>
    $("#btnClose").click(function () {
        $("#modal").dialog("close");
    });
</script>