
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<a class="row" asp-area="Admin" asp-controller="UserEdit" asp-action="CreateUser"><i class="material-icons">add_circle_outline</i>&nbsp;Adicionar Usuário</a><br /><br />
